* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corpo da página */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 80px; /* Deixando espaço para o cabeçalho fixo */
  }
header {
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
  /*Imagem da Logo*/
  .imglogo{
  width: 70px;
  height: 50px;
  float: left;
  position: relative;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  /* Botão de login no canto superior direito */
  .login-btn button {
    padding: 8px 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }